* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

/* Navigation Bar */

.navbar {
  background: #ffff;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 999;
  text-transform: uppercase;
}

.navbar__logo {
  height: 25px;
  width: 149px;
  margin-top: 10px;
  margin-left: 160px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 46px;
  z-index: 1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__link {
  color: #242a45;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.2s ease;
}

.navbar__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 4px;
  background: #fa5959; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fa5959,
    #e52d27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fa5959,
    #e52d27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  transition: all 0.2s ease;
}
.button:hover {
  background: #f7f7f7;
  transition: all 0.3s ease;
  color: #fa5959;
  border: 1px solid #fa5959;
}

.navbar__link:hover {
  color: #fa5959;
  transition: all 0.3s ease;
}

/* Mobile view */
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    z-index: 1;
    max-width: 1440px;
    margin-top: 70px;
  }

  .navbar__logo {
    width: 149px;
    height: 25px;
    margin-top: 12px;
    margin-left: 30px;
    z-index: 9999;
    background: #f7f7f7;
  }

  .navbar {
    max-height: 25px;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    position: absolute;
    width: 100%;
    top: -900px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #242a45;
    top: 100%;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 120;
    height: 667px;
    font-size: 20px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: black;
  }

  .navbar__item {
    display: table;
    margin-top: 0;
  }


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  margin-right: 10px;
  margin-top: 0;
  background: #242a45;
  font-size: 20px;
  border: 1px solid white;
}

  .navbar__link {
    text-align: center;
    font-size: 20px;
    color: #fff;
  }


  .navbar__btn {
    padding-bottom: 2rem;
  }

 hero-section
#feature-page {
position: absolute;
left: 120px;
top: 130px;
width: 116px;
height: 17px;

}
#price-page {
  position: absolute;
  top: 180px;
  left: 130px;
  width: 92px;
  height: 17px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308px;
    height: 48px;
    margin: 0;
    background: #242a45;
    font-size: 20px;
    border: 1px solid white;
  }

  #mobile-menu {
    position: absolute;
    left: 75%;
    margin-top: 9px;
    transform: translate((5%, 20%));
    z-index: 999;
  }


  #home-page {
    position: absolute;
    left: 125px;
    top: 130px;
    width: 116px;
    height: 17px;
  }
  #about-page {
    position: absolute;
    top: 180px;
    left: 135px;
    width: 92px;
    height: 17px;
  }


#contact-page {
  position: absolute;
  top: 230px;
  left: 129px;
  width: 103px;
  height: 17px;
}

  #service-page {
    position: absolute;
    top: 230px;
    left: 130px;
    width: 103px;
    height: 17px;
  }


  #login {
    position: absolute;
    top: 310px;
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */

.hero {
  background: #ffff;
  padding: 5rem 0;
  padding-top: 0;
  padding-bottom: 0;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  z-index: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.hero__content {
  color: #f7f7f7;
  width: 540px;
  height: 292px;
  padding-left: 22%;
}

.hero__content h1 {
  color: #242a45;
  font-size: 48px;
  margin-bottom: 10px;
  line-height: 52px;
  letter-spacing: -0.15px;
  margin-top: 15px;
  width: 540px;
  height: 104px;
}

.hero__content p {
  font-size: 18px;
  color: #242a45;
  height: 5.25rem;
  width: 540px;
  line-height: 28px;
  text-align: left;
  font-weight: 500;
}

.hero__img--card {
  position: relative;
  height: 24.0625rem;
  width: 36.125rem;
  z-index: 99;
  top: 150px;
  left: 250px;
}

.hero__button {
  width: 343px;
  height: 48px;
  margin: 10px 0;
}

.hero__btn--chrome {
  background: #5267df;
  padding: 8px;
  outline: none;
  border-radius: 4px;
  width: 166px;
  height: 48px;
  cursor: pointer;
  position: relative;
  font-size: 0.9rem;
  right: 10px;
  margin-top: 11px;
}

.hero__btn--chrome:hover {
  background: #f7f7f7;
  border: 1px solid #5267df;
 

}

.hero__btn--chrome a:hover {
  color: #5267df;
  transition: all 0s ease;
}

.hero__btn--chrome a {

  color: #ffff;
  text-decoration: none;
  text-align: center;
  transition: all 0s ease;
}

.hero__btn--firefox {
  background: #f7f7f7;
  padding: 8px;
  outline: none;
  border-radius: 4px;
  width: 161px;
  height: 48px;
  cursor: pointer;
  position: relative;
  font-size: 0.9rem;
  margin-top: 11px;
  border: 0px;
}

.hero__btn--firefox a {
  color: #242a45;
  text-decoration: none;
  text-align: center;
}

.hero__btn--firefox:hover {
  border: 1px solid #242a45;
}

.hero__btn--firefox a:hover {
  color: #5b6074;
}

.hero__shape {
  position: relative;
  width: 500px;
  height: 352px;
  background: #5267df;
  z-index: 1;
  bottom: 5rem;
  left: 341px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.hero__img--container {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .hero__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 50%;
  }

  .hero__content {
    position: relative;
    width: 311px;
    height: 276px;
    top: 400px;
    right: 50px;
    text-align: center;
  }

  .hero__content h1 {
    font-size: 30px;
    width: 311px;
    height: 80px;
    text-align: center;
    line-height: 40px;
  }
  .hero__content p {
    font-size: 15px;
    height: 100px;
    width: 303px;
    text-align: center;
  }

  .hero__img--card {
    width: 313px;
    height: 209px;
    position: relative;
    top: -150px;
    left: 20px;
  }
  .hero__shape {
    width: 288.5px;
    height: 203px;
    position: relative;
    top: -330px;
    left: 80px;
  }
  .hero__btn--chrome {
    width: 151px;
    border-color: #f7f7f7;
    font-size: 14px;
    padding: 2px;
  }

  .hero__btn--firefox {
    width: 151px;
    border-color: #f7f7f7;
    font-size: 14px;
    padding-right: 4px;
  }
  .hero__button {
    position: relative;
    right: 15px;
    margin: 5px 5px;
    height: 48px;
  }
}

/* Features Section */
.features_section {
  margin-top: 50px;
}

.features_section_top {
  width: 504px;
  height: 152px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 30px;
}

.features_h1 {
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 52px;
  font-style: normal;
  font-family: Rubik;
  text-align: center;
  font-size: 32px;
  color: #242a45;
}

.features_p {
  color: #242a45;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
}

.feature_btn {
  width: 114px;
  height: 48px;
  border: none;
  padding: 20px;
  color: #ffffff;
  background-color: #5267df;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: 500;
  font-family: Rubik;
}

.tabs-container {
  width: 730px;
  height: 49px;
  margin: 0px auto;
  display: flex;
  border-bottom: 0.5px solid rgba(73, 93, 207, 0.20012);
  margin-bottom: 50px;
}

.tabs-container > div {
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.53px;
  text-align: center;
}

.features_tab_hover {
  border-bottom: 4.08px solid #fa5959;
}

.features_section {
  margin-bottom: 200px;
}

.features_section_bottom {
  width: 80%;
  height: 346px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

/* .image_container {
  width: 80%;
}
.feature_image {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

.features_image {
  width: 45%;
  margin-right: 100px;
  position: relative;
}

.blue_background {
  position: absolute;
  width: 1000px;
  height: 352px;
  left: -360px;
  top: 1196px;
  background-color: #5267df;
  border-radius: 0 0 316.5px 0;
}

.image_container {
  z-index: 9;
}

.features_content {
  width: 35%;
  align-self: flex-start;
  margin-left: 50px;
  height: 232px;
  text-align: left;
  padding-top: 20px;
  margin-top: 50px;
}

.feature_sub_heading {
  font-size: 32px;
  letter-spacing: -0.1px;
  line-height: 52px;
  font-style: normal;
  font-weight: 500;
  font-family: Rubik;
}

.features_content > p {
  margin-top: 38px;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-family: Rubik;
  height: 84px;
  opacity: 0.5;
}

.features_content > button {
  margin-top: 60px;
}

/************ Extensions section ********/
.extensions {
  padding: 8rem 10rem 2rem;
  min-height: 100vh;
}

.extensions h2 {
  text-align: center;
  font-size: 1.8rem;
  color: hsl(229, 31%, 21%);
  margin-bottom: 0.7rem;
}

.extensions p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
  color: hsl(229, 8%, 60%);
}

.extensions .extensions-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0rem;
}

.extensions .extensions-row .extensions-col {
  flex-basis: 31%;
  text-align: center;
  box-shadow: 0 0 0.6rem 0 hsla(228, 4%, 22%, 0.322);
  padding: 2rem 1rem 2rem;
  border-radius: 0.8rem;
}

.extensions .extensions-row .extensions-col:nth-child(2) {
  margin-top: 4rem;
}

.extensions .extensions-row .extensions-col:nth-child(3) {
  margin-top: 8rem;
}

.extensions .extensions-row .extensions-col img {
  margin-bottom: 1.5rem;
}

.extensions .extensions-row .extensions-col h3 {
  font-size: 1.2rem;
  color: hsl(229, 31%, 21%);
  margin-bottom: 0.5rem;
}

.extensions .extensions-row .extensions-col hr {
  margin: 2rem 0 1.5rem;
  border: 0;
  border-bottom: 4px dotted hsl(229, 8%, 60%);
}

.extensions .extensions-row .extensions-col a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  transition: 0.5s;
}

.extensions .extensions-row .extensions-col a:hover {
  background: transparent;
  color: hsl(231, 69%, 60%);
}
/******************************/

/* faq section */
.faq {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.some-faqs {
  line-height: 28px;
  font-size: 18px;
  opacity: 0.5;
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  color: #242A45;
  max-width: 540px;
}

.questions-container {
  max-width: 800px;
  margin: 0 auto;
}

.question {
  max-width: 700px;
  border-bottom: 1px solid rgb(163, 158, 158);
}
.question button {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
}
.question p {
  font-size: 22px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.6s ease;
}
.d-arrow {
  transition: transform 0.5s ease-in;
  color: rgb(78, 84, 175);
}

.question p.show {
  max-height: 200px;
  opacity: 1;
  padding: 0px 15px 30px 15px;
}
.question button .d-arrow.rotate {
  transform: rotate(180deg);
}
.info {
  margin-top: 40px;
  margin-bottom: 150px;
  height: 30px;
  width: 100px;
  background-color: blue;
  color: white;
  border-radius: 3px;
  border: none;
  outline: none;
}

/* Contact us section */
.contact-us {
  background-color: #5267df;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.already-joined {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 5px;
  line-height: 40px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  height: 40px;
  width: 271px;
}

.update {
  height: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
  color: #ffffff;
  width: 408px;
  text-align: center;
}

button.contact-us-button,
#email-field {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button.contact-us-button {
  background-color: #fa5959;
  width: 126px;
  height: 48px;
  color: white;
}

button.contact-us-button:active {
  background-color: #ffffff;
  color: #fa5959;
  border: 1px solid #fa5959;
}
button.contact-us-button:hover {
  cursor: pointer;
}

#email-field {
  width: 300px;
  height: 48px;
}

input:focus {
  outline: none;
  border: 1px solid #fa5959;
}
.errMsg{
  width: 300px;
  height: 25px;
  background-color: #e52d27;
  color: #fff;
  border-radius: 0 0 5px 5px;
}


.bottom-nav {
  max-width: 1440px;
  height: 88px;
  background: #242a45;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden
}

.bottom-nav-imgs {
  display: inline-flex;
  margin-right: 100px;
}

.bottom-nav-items {
  display: flex;
  line-height: 17px;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 1.5px;
  color: #ffffff;
  margin-left: 100px;
}

.bottom-nav-items li,
.bottom-nav-imgs li {
  list-style-type: none;
  margin: 20px;
}

.bottom-nav-item {
  height: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-transform: uppercase;
}

.bottom-nav-item:hover {
  cursor: pointer;
  color: #fa5959;
}

.bottom-menu {
  width: 111px;
  height: 14px;
  margin-right: 10px;
}

.bottom-nav-items img {
  background-color: #fff;
}
.bottom-nav-imgs li:hover {
  cursor: pointer;
  background-color: #fa5959;
}

/* Queries */

@media (min-width: 375px) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Rubik", sans-serif;
  }

  /* Header section */
  /* .hero {
    background: #ffff;
    padding: 5rem 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    max-width: 1104px;
  }
  .hero__content h1 {
    color: #242a45;
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .hero__img--card {
    position: relative;
    height: 385px;
    width: 578px;
    z-index: 99;
    top: 150px;
  }
  .hero__img--container {
    position: relative;
    width: 100%;
  } */

  /* Features section */

  /* Extensions section */
  .extensions {
    padding: 3rem 1.5rem 2rem;
    min-height: 100vh;
  }

  .extensions h2 {
    font-size: 1.3rem;
  }

  /* faq section */

  .faq {
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  

  .faq h1 {
    top: calc(50% - 52px / 2 - 36px);
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: -0.1px;
    color: #242a45;
  }

  .faq p {
    height: 56px;
    left: 0%;
    right: 0%;
    top: calc(50% - 56px / 2 + 34px);
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    text-align: center;
    color: #242a45;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .questions-container {
    max-width: 800px;

    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
  }

  .extensions p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .extensions p > br {
    display: none;
  }

  .extensions .extensions-row {
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }

  .question button {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #242a45;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .question p {
    height: auto;
    font-size: 15px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
  }
  .d-arrow {
    transition: transform 0.5s ease-in;
    color: rgb(78, 84, 175);
  }

  .extensions .extensions-row .extensions-col {
    flex-basis: 100%;
    padding: 2rem 1rem 2rem;
    border-radius: 0.7rem;
  }

  .extensions .extensions-row .extensions-col h3 {
    font-size: 1.1rem;
  }

  .info {
    width: 114px;
    height: 48px;
    margin: 30px;
    background-color: #5267df;
    color: #f7f7f7;
    
  }

  .extensions p {
    font-size: 0.8rem;
  }

  .extensions .extensions-row .extensions-col a {
    padding: 0.6rem 1.5rem;
  }

  .extensions .extensions-row .extensions-col:nth-child(2) {
    margin-top: 2rem;
  }

  .extensions .extensions-row .extensions-col:nth-child(3) {
    margin-top: 2rem;
  }

  .extensions h2 {
    font-size: 1.2rem;
  }

  .extensions .extensions-row .extensions-col h3 {
    font-size: 1rem;
  }

  .extensions p {
    font-size: 0.7rem;
  }

  /* Queries */
}
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    /* width: 375px;  */
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
  }

  /* Header section */

  /* Features section */

  /* Extensions section */

  /* FAQ section */

  .faq {
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .faq h1 {
    top: calc(50% - 52px / 2 - 36px);
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.075px;
  }

  .faq p {
    height: 56px;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
  }

  .questions-container {
    max-width: 550px;
    margin: 0 auto;
  }

  .question {
    max-width: 500px;
    border-bottom: 1px solid rgb(163, 158, 158);
  }
  .question button {
    font-size: 18px;
    line-height: 32px;
    align-items: center;
  }
  .question p {
    height: auto;
    font-size: 15px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
  }
  .d-arrow {
    transition: transform 0.5s ease-in;
    color: rgb(78, 84, 175);
  }

  .question p.show {
    max-height: 200px;
    opacity: 1;
    padding: 0px 15px 30px 15px;
  }
  .question button .d-arrow.rotate {
    transform: rotate(180deg);
  }

  /* Contact and footer section */

  .contact-us {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .already-joined,
  .update,
  #email-field,
  button.contact-us-button {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .bottom-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 334px;
  }

  .bottom-nav-items {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .bottom-nav-items li,
  .bottom-nav-menu img {
    text-align: center;
  }
  .bottom-nav-imgs {
    width: 100%;
    justify-content: center;
    margin: 5px;
  }

  .bottom-menu {
    display: inline-flex;
  }

  .bottom-nav-items img {
    background-color: #fff;
  }

  .extensions .extensions-row .extensions-col a {
    padding: 0.6rem 0.7rem;
    font-size: 0.7rem;
  }
  /***********************************/

  /* FAQ section */

  /* Contact and footer section */
}

/* features media queries */
@media screen and (max-width: 511px) {
  .features_section_top {
    width: 311px;
    height: 152px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 375px) {
  .features_section_top {
    width: 311px;
    height: 152px;
  }
}

@media screen and (max-width: 753px) {
  .tabs-container {
    width: 330px;
    height: 139px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }

  .tabs-container > div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 0.5px solid rgba(73, 93, 207, 0.20012);
    border-top: 0.5px solid rgba(73, 93, 207, 0.20012); */
    width: 230px;
  }

  .features_tab_hover {
    width: 200px;
    border-bottom: 4.08px solid #fa5959;
  }
}

@media screen and (max-width: 1442px) {
  .blue_background {
    position: absolute;
    width: 900px;
    height: 332px;
    border-radius: 0 0 316.5px 0;
  }
}

@media screen and (max-width: 1175px) {
  .features_section_bottom {
    flex-direction: column;
    height: 710px;
    align-items: center;
    justify-content: space-between;
  }

  .features_image {
    width: 80%;
    margin: 0px auto;
  }

  .features_content {
    width: 80%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 375px) {
  .blue_background {
    position: absolute;
    width: 330px;
    height: 180px;
    left: -20px;
    top: 1156px;
    background-color: #5267df;
    border-radius: 0 0 150px 0;
    margin-top: 50px;
  }

  .features_section_bottom {
    margin-bottom: 0px;
  }

  .feature_image {
    width: 250px;
    height: 185px;
    margin-left: 0px;
  }

  .features_content {
    text-align: center;
    width: 96%;
    margin: 50px auto;
    height: 500px;
    margin-bottom: 50px;
  }

  .features_content > p {
    margin-bottom: 50px;
  }

  .feature_sub_heading {
    font-size: 22px;
  }
}
